.toolbar{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background: black;
	height:50px;
}

.toolbar_logo{
	position:relative;
	width:100px;
	height:120px;
	left:90%;
	padding-top:5px;
}

.toolbar_logo a{
	color:white;
	text-decoration:none;
	font-size:.4.5rem;
}

.toolbar img{
	left:90%;
	height:20px;
	padding-right:90px;
}